{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
   <h1>Новостей на странице</h1>
{% load cache%}
    {% cache 30 posts %}
        <h3>{{ posts|length }}</h3>
    {% endcache %}

<hr>
{% if perms.news.add_post %}
    {% if posts_in_limit_period %}
        Превышен суточный лимит постов!
    {% else %}
        <a href="{% url 'post_create'  %}"> Создать новый пост</a>
        <hr>
    {% endif %}
{% endif %}

{% if posts %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Краткое описание</td>
               <td>Категория</td>
               <td>{% if perms.news.change_post or perms.news.delete_post %}
                        Действие
                   {% endif %}
               </td>
           </tr>

           {% for post in posts %}
           <tr>
               <td> <a href="{% url 'post' pk=post.id %}">
                   {{ post.heading|censor }}
              </a>
               </td>
               <td>{{ post.datatime_of_creation|date:'d M Y' }}</td>
               <td>{{ post.text|truncatechars:20|censor }}</td>
               <td>
                   {% for category in post.category.all %}
                   <a href="{% url 'category_list' pk=category.id %}"> {{ category }} </a>
                   {% endfor %}

               </td>
               <td>
                        {% if perms.news.change_post %}
                            <a href="{% url 'post_update' pk=post.id %}"> Изменить</a>
                        {% endif %}

                        {% if perms.news.delete_post %}
                            <a href="{% url 'post_delete' pk=post.id %}"> Удалить</a>
                        {% endif %}

               </td>

           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}


{# Информация о предыдущих страницах #}
{% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}