<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load i18n %}

{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}
 <table>
     <tr>
        <td>{% trans 'Header' %}</td>
        <td>{% trans 'Publication date' %}</td>
        <td>{% trans 'Short description' %}</td>
     </tr>
     <tr>
         <td>{{ post.heading|censor }}</td>
         <td>{{ post.datatime_of_creation|date:'d M Y' }}</td>
         <td>{{ post.text|censor }}</td>
     </tr>
 </table>
{% endblock content %}